VUE
#!/usr/bin/python3
# =====================
# NOM :
# ====================
from jinja2 import Environment, FileSystemLoader # ne pas modifier

# Ajouter ici les éléments du modèles dont on a besoin
from PPP_modele import *


# ne modifiez pas cette fonction !
def creer_html(fichier_template, fichier_sortie,**infos):
    """
    Cette fonction génère automatiquement un fichier à partir d'un
    template et d'informations
    paramètres :
        fichier_template : un fichier template (template HTML par exemple)
        fichier_sortie : le nom du fichier généré
        **infos : un nombre indéfini de paramètres qu'il suffit de nommer
    return : -
    """
    env=Environment(loader=FileSystemLoader('.'),trim_blocks=True)
    template=env.get_template(fichier_template)
    html=template.render(infos)
    f = open(fichier_sortie, 'w')
    f.write(html)
    f.close()

# Ajouter ici les appels à la fonction creer_html
creer_html("./PPP_template.html", "./page_gen/Acceuil.html",
        ListPages=ListPages
        )
for pages in ListPages:
    creer_html("./PPPLicence_template.html", "./page_gen/"+pages+".html",
            ListPages=ListPages,
            PageAct=pages
            )
Modele
BasePagesLicences={"Licence1":("TupleDInfos"),"Licence2":("TupleDInfos"),"Licence3":("TupleDInfos")}


















def ListeDesPagesDeLicences(BasePagesLicences):
    ListPages=[]
    for page in BasePagesLicences.keys():
        ListPages.append(page)
    return ListPages
ListPages=ListeDesPagesDeLicences(BasePagesLicences)
def InfosDeLaPage(BasePagesLicences,pageVoulu):
	res=[]
	for (Page,Infos) in BasePagesLicences():
		

Template Pages Licence
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8"/>
	<title>PPP's Project</title>
	<!-- <link rel="stylesheet" type="text/css" href="PPP.css"> -->
	<link rel="stylesheet" type="text/css" href="PPPbis.css">
</head>
<header>
	<nav>
		<ul>
			<span class="Acceuil">
				<li><a href="http://www.univ-orleans.fr/fr/univ">> Retour à l'acceuil</a></li>
			</span>
				<li><a href="http://www.univ-orleans.fr/fr/accessibilite">Accessibilité</a></li>
	</nav>
	<nav class="right">
		<ul>
			<li><a href="http://ent.univ-orleans.fr/render.userLayoutRootNode.uP" target="_blank">ENT</a></li>
			<li><a href="http://www.univ-orleans.fr/fr/annuaire" target="_blank">Annuaire</a></li>
			<li><a href="https://scd.univ-orleans.fr/" target="_blank">Bibliothèque</a></li>
			<li><a href="http://www.univ-orleans.fr/fr/culture">Culture</a></li>
		</ul>
	</nav>
	<section class="imgrecherche">
	<img src="./logo/Logouniversite.png" alt="Univ">
	<p class="slogan"><i>Source de talents, depuis 1306</i></p>
	<input class="champ" type="text" placeholder="Rechercher sur ce site"/>
	<input id="search-btn" type="image" src="./logo/loupe.png" alt="Loupe" />
	<a href="https://fr-fr.facebook.com/iutorleansofficiel/%22%3EFacebook"></a>
	<SELECT name="nom" size="1">
		<OPTION>FR
		<OPTION>EN
		<OPTION>ES
	</SELECT>
</section>
</header>
<section>
	<nav>
		<ul id="menu-accordeon">
								 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/bienvenue-liut-dorleans">Découvrir</a>
				           <ul>
				             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/bienvenue-liut-dorleans">Bienvenue à l'IUT'O</a></li>
				             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/domaines-de-formation">Domaines de formations</a></li>
				             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/nous-contacter">Nous contacter</a></li>
				             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/venir-liut">Venir à l'IUT</a></li>
				           </ul>
								</li>
								<li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation">Formation</a>
				          <ul>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/chimie">Chimie</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gte">Energie & Thermique</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gea">Gestion & Administration</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/informatique">Informatique</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/qlio">Qualite & Logistique Industrielle</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gmp">Mécanique & Productique</a></li>
				          </ul>
							 </li>
							 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire">Candidater & s'inscrire</a>
			           <ul>
			             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire/candidater">Candidater</a></li>
			             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire/sinscrire">S'inscrire</a></li>
			           </ul>
							</li>
							<li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises">Entreprises</a>
								<ul>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/recruter-un-stagiaire">Recruter un stagiaire</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/recruter-un-apprenti">Recruter un apprenti</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/utiliser-du-materiel-innovant">Utiliser du matériel innovant</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/deposer-une-offre-de-stage-ou-demploi">Déposer une offre de stage ou d'emploi</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/verser-la-taxe-dapprentissage">Verser la taxe d'apprentissage</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/conventions-partenariats">Conventions & Partenariats</a></li>
			          </ul>
						 </li>
								 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/international">International</a>
						           <ul>
						             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/international/partir-letranger">Partir à l'étranger</a></li>
						             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/international/venir-etudier-liuto">Venir étudier à l'IUT'O</a></li>
						         </ul>
								 </li>
								 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante">Vie étudiante</a>
											 <ul>
												 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante/calendrier-et-dates-de-rentrees">Calendrier et dates de rentrées</a></li>
												 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante/integrer-une-association-de-liuto">Intégrer une association de l'IUTO</a></li>
										 </ul>
									</li>
		</ul>
	</nav>
</section>
<section id="corps">
	<aside>
		<h1>Le Aside Pour rediriger vers une license choisi et avec le script de test des moyennes de l'élèves</h1>
		<ul>
      <li><a href="./Acceuil.html">Acceuil</a>
      {% for Page in ListPages %}
			<li><a href="./{{Page}}.html">{{Page}}</a>
			{% endfor %}
			<li>
				<form id="bouton"><input type="button" name="testMoyenne" value="Tester vos capacités d'intégration!!" accesskey="s"></form>
			</li>
		</ul>
	</aside>
  <div>
    <h2>{{PageAct}}</h2>
  <div/>
</section>
<script type="text/javascript">
var btn = document.querySelector('#bouton');
btn.addEventListener('click', updateBtn);

function updateBtn() {
let moyDocNum=prompt("Entrez votre moyenne de Document Numérique :");
let moyAlgo=prompt("Entrez votre moyenne d'Algorithmique :");
let moyBD=prompt("Entrez votre moyenne de Base de donnée(s) :");
let moyPython=prompt("Entrez votre moyenne de Python :");
a=Number(moyBD)+Number(moyAlgo)+Number(moyDocNum)+Number(moyPython);
moy=a/4;
alert(moy);
}
</script>
</body>
<footer>
    <section>"Rechercher"
      <h3>Plan du site</h3>
      <table>
        <tr>
          <th><a href="#">Decouvrir</a></th><th><a href="#">Formation</a></th><th><a href="#">Candidature & inscription</a></th><th><a href="#">Entreprise</a></th><th><a href="#">International</a></th>
        </tr>
        <tr>
          <td><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/bienvenue-liuto">Bienvenue à Orléans</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/chimie">Chimie</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire/candidater">Candidater</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/recruter-un-stagiaire">Recruter un stagiaire</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/international/partir-letranger">Partir à l'étranger</a></td>
        </tr>
        <tr>
          <td><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/domaines-de-formation">Domaines de formations</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gte">Energie et Thermique</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire/sinscrire">S'inscire</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/recruter-un-apprenti">Recruter un apprenti</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/international/venir-etudier-liuto">Venir étudier à l'IUT'O</a></td>
        </tr>
        <tr>
          <td><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/nous-contacter">Nous contacter</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gea">Gestion et administration</a></td><td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/utiliser-du-materiel-innovant">Utiliser du materiel innovant</a></td><td></td>
        </tr>
        <tr>
          <td><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/venir-liut">Venir à l'IUT</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/informatique">Informatique</td><td><a href="#"></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/deposer-une-offre-de-stage-ou-demploi">Déposer une offre de stage ou d'emploi</td><td></td>
        </tr>
        <tr>
          <td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/qlio">Qualité & Logistique Industrielle</td><td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/verser-la-taxe-dapprentissage">Verser la taxe d'apprentissage</td><td></td>
        </tr>
        <tr>
          <td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gmp">Mécanique & Productique</td><td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/conventions-partenariats">Conventions & Partenariats</td><td></td>
        </tr>
      </table>
      <h4 class="change un"><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante">Vie étudiante</a></h4>
      <p class="change deux"><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante/calendrier-et-dates-de-rentrees">Calendrier et dates de rentrées</a></p>
      <p class="change deux"><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante/integrer-une-association-de-liuto">Intégrer une association de l'IUT'O</a></p>
    </section>
    <section id="contact">
      <h3>Information</h3>
      <h2>Contact</h2>
      <h3>Accueil<h3>
        <p>+33 (0)2 38 49 44 00</p>
      <h3>Adresse postal</h3>
      <h3>IUT d'Orléans</h3>
      <p>16 Rue d'Issoudun<br>45067 Orléans Cedex 2 - France</p>
    </section>
    <section id="footer_autre">
      <ul id="liste1_footer">
        <li><a href="https://fr-fr.facebook.com/univorleans/"><img src="./logo/Facebook.png" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/Univ_Orleans"><img src="./logo/twitter.png" alt="Twitter"></a></li>
        <li><a href="https://www.youtube.com/user/univorleans"><img src="./logo/youtube.png" alt="Youtube"></a></li>
        <li><a href="https://www.linkedin.com/school/universite-orleans/"><img src="./logo/linkdin.png"alt="Linkdin"></a></li>
        <li><a href="https://www.instagram.com/univ_orleans/"><img src="./logo/instagram.png" alt="Insta"></a></li>
      </ul>

      <ul id="liste2_footer">
        <li><a href="http://www.univ-orleans.fr/fr/accessibilite">Accesibilité</a></li>
        <li><a href="http://www.univ-orleans.fr/fr">Acceuil</a></li>
        <li><a href="http://intranet.univ-orleans.fr/">Intranet</a></li>
        <li><a href="http://www.univ-orleans.fr/fr/mentions-legales">Mention légales</a></li>
      </ul>
    </section>
</footer>














Template Acceuil
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8"/>
	<title>PPP's Project</title>
	<!-- <link rel="stylesheet" type="text/css" href="PPP.css"> -->
	<link rel="stylesheet" type="text/css" href="PPPbis.css">
</head>
<header>
	<nav>
		<ul>
			<span class="Acceuil">
				<li><a href="http://www.univ-orleans.fr/fr/univ">> Retour à l'acceuil</a></li>
			</span>
				<li><a href="http://www.univ-orleans.fr/fr/accessibilite">Accessibilité</a></li>
	</nav>
	<nav class="right">
		<ul>
			<li><a href="http://ent.univ-orleans.fr/render.userLayoutRootNode.uP" target="_blank">ENT</a></li>
			<li><a href="http://www.univ-orleans.fr/fr/annuaire" target="_blank">Annuaire</a></li>
			<li><a href="https://scd.univ-orleans.fr/" target="_blank">Bibliothèque</a></li>
			<li><a href="http://www.univ-orleans.fr/fr/culture">Culture</a></li>
		</ul>
	</nav>
	<section class="imgrecherche">
	<img src="./logo/Logouniversite.png" alt="">
	<p class="slogan"><i>Source de talents, depuis 1306</i></p>
	<input class="champ" type="text" placeholder="Rechercher sur ce site"/>
	<input id="search-btn" type="image" src="./logo/loupe.png" alt="Loupe" />
	<a href="https://fr-fr.facebook.com/iutorleansofficiel/%22%3EFacebook"></a>
	<SELECT name="nom" size="1">
		<OPTION>FR
		<OPTION>EN
		<OPTION>ES
	</SELECT>
</section>
</header>
<section>
	<nav>
		<ul id="menu-accordeon">
								 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/bienvenue-liut-dorleans">Découvrir</a>
				           <ul>
				             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/bienvenue-liut-dorleans">Bienvenue à l'IUT'O</a></li>
				             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/domaines-de-formation">Domaines de formations</a></li>
				             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/nous-contacter">Nous contacter</a></li>
				             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/venir-liut">Venir à l'IUT</a></li>
				           </ul>
								</li>
								<li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation">Formation</a>
				          <ul>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/chimie">Chimie</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gte">Energie & Thermique</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gea">Gestion & Administration</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/informatique">Informatique</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/qlio">Qualite & Logistique Industrielle</a></li>
				            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gmp">Mécanique & Productique</a></li>
				          </ul>
							 </li>
							 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire">Candidater & s'inscrire</a>
			           <ul>
			             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire/candidater">Candidater</a></li>
			             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire/sinscrire">S'inscrire</a></li>
			           </ul>
							</li>
							<li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises">Entreprises</a>
								<ul>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/recruter-un-stagiaire">Recruter un stagiaire</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/recruter-un-apprenti">Recruter un apprenti</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/utiliser-du-materiel-innovant">Utiliser du matériel innovant</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/deposer-une-offre-de-stage-ou-demploi">Déposer une offre de stage ou d'emploi</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/verser-la-taxe-dapprentissage">Verser la taxe d'apprentissage</a></li>
			            <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/conventions-partenariats">Conventions & Partenariats</a></li>
			          </ul>
						 </li>
								 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/international">International</a>
						           <ul>
						             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/international/partir-letranger">Partir à l'étranger</a></li>
						             <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/international/venir-etudier-liuto">Venir étudier à l'IUT'O</a></li>
						         </ul>
								 </li>
								 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante">Vie étudiante</a>
											 <ul>
												 <li><a href="Acceuilhttp://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante/calendrier-et-dates-de-rentrees">Calendrier et dates de rentrées</a></li>
												 <li><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante/integrer-une-association-de-liuto">Intégrer une association de l'IUTO</a></li>
										 </ul>
									</li>
		</ul>
	</nav>
</section>
<section id="corps">
	<aside>
		<h1>Le Aside Pour rediriger vers une license choisi et avec le script de test des moyennes de l'élèves</h1>
		<ul>
			<li><a href="./Acceuil.html">Acceuil</a>
			{% for Page in ListPages %}
			<li><a href="./{{Page}}.html">{{Page}}</a>
			{% endfor %}
			<li>
				<form id="bouton"><input type="button" name="testMoyenne" value="Tester vos capacités d'intégration!!" accesskey="s"></form>
			</li>
		</ul>
	</aside>
  <div>
		<h2>La licence pour aller plus loin</h2>
		<h3>Informations générale sur la licence</h3>
		<p>La licence est un diplôme universitaire qui est reçu suite à trois années d'études universitaires. Selon la spécialisation l'organisation des cours et de la formation varie. Globalement, une année d'étude universitaire pour la licence est divisé en deux semestres qui peuvent se terminer par des partielles ( des examens qui associés au controle continu permettent d'évaluer si le semestre est obtenu ) ou alors le semestre est déterminé par le controle continu seulement. Ce mode de fonctionnement n'est pas sans rappeller celui d'un IUT. Chaque licence s'inscrit dans un « domaine », puis dans une « mention » et, dans certains cas, dans une « spécialité ».
	  </p>
	</div>
</section>
<script type="text/javascript">
var btn = document.querySelector('#bouton');
btn.addEventListener('click', updateBtn);

function updateBtn() {
let moyDocNum=prompt("Entrez votre moyenne de Document Numérique :");
let moyAlgo=prompt("Entrez votre moyenne d'Algorithmique :");
let moyBD=prompt("Entrez votre moyenne de Base de donnée(s) :");
let moyPython=prompt("Entrez votre moyenne de Python :");
a=Number(moyBD)+Number(moyAlgo)+Number(moyDocNum)+Number(moyPython);
moy=a/4;
alert(moy);
}
</script>
</body>
<footer>
    <section>"Rechercher"
      <h3>Plan du site</h3>
      <table>
        <tr>
          <th><a href="#">Decouvrir</a></th><th><a href="#">Formation</a></th><th><a href="#">Candidature & inscription</a></th><th><a href="#">Entreprise</a></th><th><a href="#">International</a></th>
        </tr>
        <tr>
          <td><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/bienvenue-liuto">Bienvenue à Orléans</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/chimie">Chimie</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire/candidater">Candidater</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/recruter-un-stagiaire">Recruter un stagiaire</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/international/partir-letranger">Partir à l'étranger</a></td>
        </tr>
        <tr>
          <td><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/domaines-de-formation">Domaines de formations</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gte">Energie et Thermique</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/candidater-sinscrire/sinscrire">S'inscire</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/recruter-un-apprenti">Recruter un apprenti</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/international/venir-etudier-liuto">Venir étudier à l'IUT'O</a></td>
        </tr>
        <tr>
          <td><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/nous-contacter">Nous contacter</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gea">Gestion et administration</a></td><td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/utiliser-du-materiel-innovant">Utiliser du materiel innovant</a></td><td></td>
        </tr>
        <tr>
          <td><a href="http://www.univ-orleans.fr/fr/iut-orleans/decouvrir/venir-liut">Venir à l'IUT</a></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/informatique">Informatique</td><td><a href="#"></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/deposer-une-offre-de-stage-ou-demploi">Déposer une offre de stage ou d'emploi</td><td></td>
        </tr>
        <tr>
          <td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/qlio">Qualité & Logistique Industrielle</td><td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/verser-la-taxe-dapprentissage">Verser la taxe d'apprentissage</td><td></td>
        </tr>
        <tr>
          <td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/formation/gmp">Mécanique & Productique</td><td></td><td><a href="http://www.univ-orleans.fr/fr/iut-orleans/entreprises/conventions-partenariats">Conventions & Partenariats</td><td></td>
        </tr>
      </table>
      <h4 class="change un"><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante">Vie étudiante</a></h4>
      <p class="change deux"><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante/calendrier-et-dates-de-rentrees">Calendrier et dates de rentrées</a></p>
      <p class="change deux"><a href="http://www.univ-orleans.fr/fr/iut-orleans/vie-etudiante/integrer-une-association-de-liuto">Intégrer une association de l'IUT'O</a></p>
    </section>
    <section id="contact">
      <h3>Information</h3>
      <h2>Contact</h2>
      <h3>Accueil<h3>
        <p>+33 (0)2 38 49 44 00</p>
      <h3>Adresse postal</h3>
      <h3>IUT d'Orléans</h3>
      <p>16 Rue d'Issoudun<br>45067 Orléans Cedex 2 - France</p>
    </section>
    <section id="footer_autre">
      <ul id="liste1_footer">
        <li><a href="https://fr-fr.facebook.com/univorleans/"><img src="./logo/Facebook.png" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/Univ_Orleans"><img src="./logo/twitter.png" alt="Twitter"></a></li>
        <li><a href="https://www.youtube.com/user/univorleans"><img src="./logo/youtube.png" alt="Youtube"></a></li>
        <li><a href="https://www.linkedin.com/school/universite-orleans/"><img src="./logo/linkdin.png"alt="Linkdin"></a></li>
        <li><a href="https://www.instagram.com/univ_orleans/"><img src="./logo/instagram.png" alt="Insta"></a></li>
      </ul>

      <ul id="liste2_footer">
        <li><a href="http://www.univ-orleans.fr/fr/accessibilite">Accesibilité</a></li>
        <li><a href="http://www.univ-orleans.fr/fr">Acceuil</a></li>
        <li><a href="http://intranet.univ-orleans.fr/">Intranet</a></li>
        <li><a href="http://www.univ-orleans.fr/fr/mentions-legales">Mention légales</a></li>
      </ul>
    </section>
</footer>
